html {
  --bg-light-orange: #fd8d77;
  --bg-dark-orange: #fa5d3e;
}
.my-button {
  color: white;
  background-color: var(--bg-dark-orange);
}

/* NAVBAR */
#navbar .navbar-nav {
  width: 85%;
  margin: 0px auto;
  justify-content: space-around;
}
#navbar .nav-item {
  margin: 0px 0px;
}
#navbar .my-button {
  display: none;
}

/*ABOUT US*/
.left-about h2 {
  font-size: 2em;
  font-weight: bold;
}
.left-about p {
  margin-right: 25%;
}
.features-card span {
  background-color: var(--bg-dark-orange);
  width: 50px;
  padding: 0px;
  color: white;
  margin-right: 10px;
}
.features-card h3 {
  font-size: 1.1em;
  font-weight: bold;
}
.features-card p {
  margin-left: 60px;
}

@media (min-width: 768px) {
  #navbar .my-button {
    display: block;
  }
}

.attribution { 
  font-size: 11px; text-align: center; 
}
.attribution a { 
  color: hsl(228, 45%, 44%); 
}