html {
  --bg-light-orange: #fd8d77;
  --bg-dark-orange: #fa5d3e;
}
.my-button {
  color: white;
  background-color: var(--bg-dark-orange);
}
section {
  margin-top: 100px;
}

/* NAVBAR */
#navbar .navbar-nav {
  width: 85%;
  margin: 0px auto;
  justify-content: space-around;
}
#navbar .nav-item {
  margin: 0px 0px;
}
#navbar .my-button {
  display: none;
}

/* ABOUT US */
.left-about h2 {
  font-size: 2em;
  font-weight: bold;
}
.left-about p {
  margin-right: 25%;
}
.features-card span {
  background-color: var(--bg-dark-orange);
  width: 50px;
  padding: 0px;
  color: white;
  margin-right: 10px;
}
.features-card h3 {
  font-size: 1.1em;
  font-weight: bold;
}
.features-card p {
  margin-left: 60px;
}

/* TESTIMONIALS */
#testimonials {

}
#testimonials h4 {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 100px;
}
#testimonials .cards-row {
  display: flex;
}
#testimonials .card {
  width: 500px;
  background-color: red;
}
#testimonials img {
  width: 100px;
  position: absolute;
  top: -50px;
  left: 200px;
}
#testimonials .card-body {
  margin-top: 40px;
}
#testimonials button {
  display: block;
  margin: 0px auto;
  margin-top: 50px;
}

/* SIMPLIFY */
#simplify {
  padding: 50px 0px;
  background-color: var(--bg-dark-orange);
  background-image: url('../images/bg-simplify-section-desktop.svg');
  background-size: cover;
}
#simplify h6 {
  font-size: 3em;
  color: white;
}
.simplify-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.simplify-right button {
  background-color: white;
  color: var(--bg-dark-orange);
}
/* FOOTER */
footer {
  background-color: black;
  color: white;
  padding-top: 50px;
}
.footer-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.footer-left .social {
  width: 100%;
  display: flex;
  list-style: none;
  justify-content: space-between;
  padding: 0px;
}
.footer-center {
  display: flex;
  justify-content: space-between;
}
.footer-center li {
  list-style: none;
}
.footer-center li a {
  text-decoration: none;
  color: white;
}
.footer-right form {
  display: flex;
  align-items: center;
}
.footer-right form button {
  background-color: var(--bg-dark-orange);
  padding: 3px 10px;
  color: white;
}

@media (min-width: 768px) {
  #navbar .my-button {
    display: block;
  }
}

.attribution { 
  font-size: 11px; text-align: center; 
}
.attribution a { 
  color: hsl(228, 45%, 44%); 
}