html {
  --bg-light-orange: #fd8d77;
  --bg-dark-orange: hsl(12, 88%, 59%);
}
.my-button {
  color: white;
  background-color: var(--bg-dark-orange);
  padding: 5px 20px;
}
section {
  margin-top: 100px;
}
.main-bg {
  background-image: url('../images/bg-tablet-pattern.svg');
  background-repeat: no-repeat;
  background-size: 40%;
  background-clip: border-box;
}
.bg-1 {
  background-position: left -100px;
  background-size: 100%;
}
.bg-2 {
  background-position: 250px top;
  background-size: 90%;
}

/* NAVBAR */
#navbar .navbar {
  background-color: rgba(0,0,0,10%);
}
#navbar .navbar-toggler {
  border: 0px;
}
#navbar #my-nav-menu {
  background-color: white;
  margin: 0px;
  text-align: center;
  font-weight: bold;
  padding: 30px 0px;
}
#navbar .navbar-nav {
  width: 65%;
  margin: 0px auto;
  justify-content: space-around;
}
#navbar .nav-item {
  margin: 0px 0px;
  font-size: 1em;
}
#navbar .my-button {
  display: none;
}

/* INTRO */
#intro {
  margin: 0px;
  padding-top: 80px;
}
#intro h1 {
  font-weight: bold;
}
#intro p {
  width: 90%;
  margin: 0px auto;
  margin-bottom: 20px;
}

/* ABOUT US */
.left-about h2 {
  font-size: 2.5em;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}
.left-about p {
  width: 90%;
  text-align: center;
  margin: 0px auto;
  margin-bottom: 50px;
}
.features-card {
  margin-bottom: 30px;
}
.features-card span {
  background-color: var(--bg-dark-orange);
  width: 50px;
  padding: 0px;
  color: white;
  margin-right: 10px;
}
.features-card h3 {
  font-size: 1.1em;
  font-weight: bold;
  background-color: hsl(13, 100%, 96%);
}
.features-card p {
  margin-left: 0px;
}

/* TESTIMONIALS */
#testimonials {
  margin-top: 50px;
}
#testimonials h4 {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 50px;
}
#testimonials .carousel-indicators {
  position: absolute;
  bottom: -30px;
  margin: 0px;
}
#testimonials .carousel-indicators li {
  width: 10px;
  height: 10px;
  border: 2px var(--bg-dark-orange) solid;
  border-radius: 100%;
}
#testimonials .carousel-indicators li.active {
  background-color: var(--bg-dark-orange);
}
#testimonials .card {
  width: 360px;
  background-color: hsl(0, 0%, 98%);
  margin-top: 50px;
  border: 0px;
}
#testimonials img {
  width: 100px;
  position: relative;
  top: -50px;
}
#testimonials .card-body {
  margin-top: -20px;
  text-align: center;
  padding-top: 0px;
}
#testimonials button {
  display: block;
  margin: 0px auto;
  margin-top: 50px;
}

/* SIMPLIFY */
#simplify {
  padding: 100px 0px;
  background-color: var(--bg-dark-orange);
  background-image: url('../images/bg-simplify-section-desktop.svg');
  background-size: cover;
  margin-top: 40px;
}
#simplify h6 {
  font-size: 2.7em;
  color: white;
  text-align: center;
}
.simplify-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.simplify-right button {
  background-color: white;
  color: var(--bg-dark-orange);
  margin: 0px auto;
  margin-top: 10px;
}
/* FOOTER */
footer {
  background-color: black;
  color: white;
  padding-top: 50px;
}
.footer-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.footer-left .logo {
  margin: 0px auto;
}
.footer-left .social {
  width: 80%;
  display: flex;
  list-style: none;
  justify-content: space-between;
  padding: 0px;
  margin: 0px auto;
  margin-bottom: 40px;
}
.footer-left .copyright {
	align-self: center;
	margin-top: 50px;
}
.footer-center {
  display: flex;
  justify-content: space-around;
  margin: 0px auto;
  margin-top: 40px;
  margin-bottom: 20px;
}
.footer-center ul {
  padding: 0px;
  margin: 0px;
}
.footer-center li {
  list-style: none;
  padding-bottom: 15px;
}
.footer-center li a {
  text-decoration: none;
  color: white;
}
.footer-right {
	display: flex;
	flex-direction: column;
}
.footer-right form {
  display: flex;
  align-items: center;
}
.footer-right form button {
  background-color: var(--bg-dark-orange);
  padding: 3px 20px;
  color: white;
  margin-left: 5px;
}
.footer-right .copyright {
	display: none;
}

@media (min-width: 768px) {
  .bg-1 {
    background-position: right -100px;
    background-size: 50%;
  }
  .bg-2 {
    background-position: -200px 20%;
    background-size: 50%;
  }
  #navbar #my-nav-menu {
    background-color: transparent;
  }
  #navbar .navbar-nav {

  }
  #navbar .my-button {
    display: block;
  }
  #intro {
    padding-top: 300px;
  }
  #intro h1 {
    width: 88%;
    font-size: 2.5em;
    margin-bottom: 20px;
  }
  #intro p {
    width: 70%;
    margin: 0px;
    margin-bottom: 20px;
  }
  .left-about h2 {
    text-align: left;
    margin-bottom: 20px;
  }
  .left-about p {
    margin-right: 25%;
	text-align: left;
  }
  .right-about .features-card h3 {
	background-color: rgba(0, 0, 0, 0%);  
  }
  .right-zbout .features-card p {
    margin-left: 60px;
  }
  #simplify h6 {
    text-align: left;
  }
  .simplify-right button {
    margin: 0px;
  }
  .footer-left {
    align-items: center;
  }
  .footer-left .social {
    width: 100%;
	margin-bottom: 15px;
  }
	.footer-left .copyright {
		display: none;
	}
  .footer-center {
    padding: 0px 80px;
    margin: 0px;
		justify-content: space-around;
  }
	.footer-right {
		justify-content: space-between;
	}
  .footer-right .copyright {
		display: block;
		text-align: right;
  }
}

.attribution { 
  font-size: 11px; text-align: center; 
}
.attribution a { 
  color: hsl(228, 45%, 44%); 
}